@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.display-flex {
  display: flex;
}
.text-small {
  font-size: 10px;
}
button:hover {
  background: #2c3444 !important;
  color: white;
}
.bell {
  height: 20px;
}
.vendor-primary-bg {
  background: #101929;
  color: white;
  padding: 2%;
  height: 100vh;
  overflow-y: scroll;
}
.vendor-primary-bg::-webkit-scrollbar {
  border: 0;
  background-color: transparent;
}
.vendor-secondary-bg {
  background: #141f32;
  color: white;
  padding: 2%;
  height: 100vh;
  overflow-y: scroll;
}
.vendor-secondary-bg::-webkit-scrollbar {
  border: 0;
  background-color: transparent;
}
.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  gap: 3.89px;
  width: fit-content;
  height: 41px;
  background: rgba(28, 40, 63, 0.45);
  color: white;
  border-radius: 77.7248px;
}
.button {
  border-radius: 77.7248px;
  padding: 5%;
  margin-left: 5%;
}
.primary-color {
  background: #19253c;
  color: white;
}
.active {
  background: #2c3444 !important;
  color: white;
}
.active-red {
  background: #bf2626;
  color: white;
}
.blue-bg {
  background: #4539cc;
  color: white;
  width: 400px;
  height: 10px;
  display: flex;
  align-items: center;
}
.green-bg {
  background: #238226;
  color: white;
  width: 400px;
  height: 10px;
  display: flex;
  align-items: center;
}
.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  gap: 3.89px;
  width: fit-content;
  height: 41px;
  background: #dd3333;
  color: white;
  border-radius: 77.7248px;
}
.red-bg {
  background: #c71f1f;
  color: white;
  width: 400px;
  height: 10px;
  display: flex;
  align-items: center;
}
.yellow-bg {
  background: #f09b1b;
  color: black;
  width: 400px;
  height: 10px;
  display: flex;
  align-items: center;
}
button {
  border: 0;
  padding: 5%;
}
.nav {
  width: 6%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #172339;
}
.Mt-5 {
  margin-top: -5%;
}
.nav div {
  margin-top: 60%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav div:hover {
  background: rgba(255, 225, 225, 0.05);
}
.column-boxes {
  overflow-y: scroll;
  height: 215px;
}
.column-boxes::-webkit-scrollbar {
  border: 0;
  background-color: transparent;
}
.column-box {
  height: 100px;
  border: 0.6px solid rgba(204, 204, 204, 0.38);
  border-radius: 10px;
  margin-top: 2%;
  padding: 10px;
}
.column-box-right {
  height: 50px;
  border: 0.6px solid rgba(204, 204, 204, 0.38);
  border-radius: 10px;
  margin-top: 2%;
}
.column-area {
  height: 240px;
  border: 0.6px solid rgba(204, 204, 204, 0.38);
  border-radius: 10px;
  margin-top: 2%;
  padding: 10px;
}
.ride-alert-box {
  height: 227.37px;
  left: 1112px;
  top: 155.63px;
  border-radius: 16px;
  background: #2c3444;
}
.bid-select {
  padding: 10px;
  gap: 4.88px;
  color: white;
  width: 120px;
  height: 51px;
  background: #1d2940;
  border-radius: 8.13754px;
}
/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  outline: 8px solid rgba(99, 47, 47, 0.64);
  border-radius: 50%;
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: 12px solid rgba(99, 47, 47, 0.64);
  border-radius: 50%;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #2c3444 !important;
  border-radius: 10pc;
  /* height: 12px; */
}

/******** Firefox ********/
input[type="range"]::-moz-range-thumb {
  outline: 8px solid#BF2626;
  border-radius: 50%;
}

/* POP up CSS */

.popup {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-box {
  width: 700px;
  height: 400px;
  background: #141f32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.popup-box-green {
  width: 700px;
  height: 400px;
  background: #1f4926;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-popup {
  position: absolute;
  top: 0;
  right: 0;
}
.close-popup {
  color: red !important;
  background: rgb(36, 17, 17) !important;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* border: 2px solid white; */
  background: none;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b210;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.checkImg {
  border: 1px solid white;
  border-radius: 50%;
  padding: 3%;
}
.search {
  width: 95%;
  padding: 5%;
}

.chat-popup {
  background: #141f32;
  color: white;
  padding: 2%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 39%;
  box-shadow: 0px 0px 100px 0px #000000;
}
.send-message {
  position: absolute;
  display: flex;
}
.send-message-img {
  position: relative;
  z-index: 111111;
  display: flex;
  margin-left: 85%;
  margin-top: 5%;
}
.chat-area {
  height: 70%;
}
.manage-rgb {
  width: 360px;
  height: 181.03px;
  border-radius: 10px;
  padding-top: 7%;
  padding-left: 2%;
}
.column-img {
  height: 70px;
}
.justifyalign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align {
  display: flex;
  align-items: center;
}
.green-btn {
  width: 150px;
  height: 48px;
  left: 1287.2px;
  top: 334.75px;
  color: green;
  background: #304938;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.driverInfo-inpt {
  width: 210px;
  height: 45.48px;
  border: 0;
  background: #141f32;
  color: gray;
  border-radius: 5px;
  padding: 5%;
}
.driverInfo-area {
  width: 220;
  height: 100px;
  left: 920.5px;
  top: 383.37px;
  border: 0;
  background: #141f32;
  border-radius: 5px;
  color: gray;

  padding: 5%;
}
.outline-box {
  height: 42px;
  background: #141f32;
  border: 1px solid rgba(92, 92, 92, 0.43);
  border-radius: 2px;
  padding: 5%;
  color: gray;
}
.upload-img{
  background: #162136;  
  width: 80%;
  height: 100px;
  position: relative;
  cursor: pointer;
}
.upload-png{
  position: absolute;
  margin-top: 5%;
}
#inputTag{
  display: none;
}